<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AK Galleri - Se produkt</title>
    <link rel="stylesheet" href="/assets/css/general.css">
    <link rel="stylesheet" href="/assets/css/c-header.css">
    <link rel="stylesheet" href="/assets/css/c-nav.css">
    <link rel="stylesheet" href="/assets/css/c-product.css">
    <link rel="stylesheet" href="/assets/css/c-form.css">
    <link rel="stylesheet" href="/assets/css/c-caption.css">
    <script defer src="/assets/js/global-utils.js"></script>
    <script defer src="/assets/js/nav.js"></script>
    <script defer src="/assets/js/search-submit.js"></script>
    <script defer src="/assets/js/admin-access-validation.js"></script>
    <script defer src="/assets/js/product.js"></script>
    <script defer src="/assets/js/admin-view.js"></script>
</head>
<body>
    <header class="c-header">
        <form class="c-header__form">
            <input type="search" name="query" class="c-header__input" placeholder="Søg">
        </form>
    </header>
    
    <div class="l-flex">

        <nav class="c-nav">
            <ul class="c-nav__ul js-page-switcher l-flex l-flex--reverse">
            </ul>
        </nav>
    
        <main class="h-nav-spacing">

            
            <!-- Content can be added here to appear above the grid display. -->
            <div class="l-flex l-flex--absolute-center">

                <div class="c-caption">
                    <h1 class="c-caption__headline c-caption__headline--admin">Søg efter enkelt produkt</h1>
                </div>

                <div class="l-grid l-grid--admin js-product-anchor">
                </div>

                <form class="c-form js-form-view">
                    <fieldset class="c-form__fieldset">
                        <span class="c-form__span">
                            <label class="c-form__label" for="mongoId">Produkt Id:</label>
                            <input class="c-form__input js-input-mongoId" name="mongoId" id="mongoId" type="text" placeholder="Produkt Id" required>
                        </span>
                        <span class="c-form__span">
                            <button class="c-form__button js-button-view" type="submit">Find produkt</button>
                        </span>
                    </fieldset>
                    <p class="c-form__server-response js-server-response"></p>
                </form>
            </div>
        </main>

    </div>

    <footer>

    </footer>
</body>
</html>